{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="background-container">
    <div class="container home-header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-7 my-auto">
                <h1 class="display-4 welcome-font">
                    Welcome to Pet Market
                </h1>
                <h3>Your one-stop destination for all your pet needs</h3>
                <div class="mt-5">
                    <a href="{% url 'products' %}" class="btn btn-primary btn-lg rounded-pill text-uppercase py-3 shop-now-button">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

